Flask==3.1.0
flask-cors==5.0.1
google-genai==1.8.0
joblib==1.4.2
keras==3.7.0
lxml-html-clean==0.4.1
newspaper3k==0.2.8
nltk==3.9.1
numpy>=1.26.0,<2.1.0
pandas==2.2.3
python-dotenv==1.1.0
requests==2.32.3
scikit-learn==1.6.1
ta==0.11.0
tensorflow==2.18.0
torch==2.6.0
transformers==4.50.3
webvtt-py==0.5.1
yt-dlp==2025.3.31